################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScheduleAPI/.vs/ScheduleAPI
/ScheduleAPI/bin/Debug/net8.0
/ScheduleAPI/obj/Debug/net8.0/ref
/ScheduleAPI/obj/Debug/net8.0/refint
/ScheduleAPI/obj/Debug/net8.0/staticwebassets
/ScheduleAPI/obj/Debug/net8.0/apphost.exe
/ScheduleAPI/obj/Debug/net8.0/Schedule.15CDBF25.Up2Date
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.AssemblyInfo.cs
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.AssemblyInfoInputs.cache
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.csproj.CoreCompileInputs.cache
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.csproj.FileListAbsolute.txt
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.dll
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.genruntimeconfig.cache
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.MvcApplicationPartsAssemblyInfo.cache
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.MvcApplicationPartsAssemblyInfo.cs
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.pdb
/ScheduleAPI/obj/Debug/net8.0/ScheduleAPI.sourcelink.json
/ScheduleAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/ScheduleAPI/obj/Debug/net8.0/staticwebassets.build.json
/ScheduleAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/BACKEND/.vs
/BACKEND/ScheduleAPI/.vs
/BACKEND/ScheduleAPI/bin/Debug/net8.0
/BACKEND/ScheduleAPI/.vs/ProjectEvaluation/scheduleapi.projects.v9.bin
/BACKEND/ScheduleAPI/.vs/ProjectEvaluation/scheduleapi.metadata.v9.bin
